
<div class="row">
  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th></th>
      </tr>
    </thead>

    <a class="btn" href="#/-1">Create</a>

    <tbody ng-repeat="user in users">
      <tr>
        <td><span ng-bind="user.id"></span></td>
        <td><span ng-bind="user.name"></span></td>
        <td><a class="btn" href="#/user/{{user.id}}">Edit</a>
          <a class="btn" ng-click="delete(user)">Delete</a></td>
      </tr>
    </tbody>
  </table>
</div>